---
import IconGithub from "~/templates/icons/icon-github.astro";
import Layout from "~/templates/layout.astro";

const state = crypto.randomUUID();

Astro.cookies.set("state", state, {
  path: "/",
  secure: true,
  httpOnly: true,
  sameSite: "lax",
  maxAge: 60 * 10
});

const github = await Astro.locals.sb.auth.signInWithOAuth({
  provider: "github",
  options: { redirectTo: new URL("/auth/callback", Astro.url).href }
});

if (github.error) console.error(github.error);
---

<Layout title="Login | Zoka">
  <ul class="flex flex-col gap-2 h-full justify-center items-center">
    {
      github.data.url && (
        <li>
          <a href={github.data.url} class="btn btn-primary w-48">
            <IconGithub class="size-4" />
            <span>Login with GitHub</span>
          </a>
        </li>
      )
    }
  </ul>
</Layout>
